:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkGrey: hsl(0, 0%, 12%);
    --offBlack: hsl(0, 0%, 8%);
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--offBlack);
    
}

.container {
    background-color: var(--darkGrey);
    width: 370px;
    border-radius: 10px;
}
img {
    border-radius: 50%;
    width: 80px;
    margin: 35px 0 25px 0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: var(--white);
    margin: 0;
    font-size: 22px;
    
}
h2 {
    color: var(--green);
    font-size: 12px;
    margin: 10px 0;
}
p {
    color: var(--white);
    font-size: 12px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 40px 50px 40px;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    background-color: var(--grey);
    border-radius: 8px;
    cursor: pointer;
}
a:hover {
    background-color: var(--green);
    color: var(--offBlack);
}